.btn-color{
    background-color:rgb(255, 153, 0) !important;
}
.btn-color:hover{
    background-color:rgb(255, 153, 0) !important
}
a.sifre{
    color :rgb(255, 153, 0) !important;
    
}
a.sifre:hover{
    text-decoration : none !important;
}
