.btn-color{
    background-color: rgb(255, 94, 0)  !important;
}
.btn-color:hover{
    background-color:rgb(255, 94, 0) !important
}
a.sifre{
    margin-top: 5px !important;
    color :rgb(255, 94, 0) !important;
    
}
a.sifre:hover{
    text-decoration : none !important;
}
.form_control{
    background-color:rgba(32, 30, 30, 0.13) !important;
}

.isMatched{
    font-size: 14px !important;
    color : rgb(228, 3, 3) !important;
}